<!doctype html>
<html  th:lang="${#locale.language}"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>@RequestParam</title>
    <!-- Turkce karakter -->
    <meta charset="utf-8">

    <!-- responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- seo -->
    <meta name="keywords" content="html5,css3,js,jquery,bootstrap,react,javase" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <!-- jquery  -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- react libraries -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <link rel="stylesheet"   th:href="@{/css/index.css}">
    <script th:src="@{/js/index.js}"></script>

</head><body class="container bg-dark text-white">
<!-- start codes -->
<h1 class="text-primary display-2 text-uppercase text-center">Şirket CV</h1>
<!--
    #{} ==> messages
    ${} ==> thymeaf
    *{} ==> form
    @{} ==> action,js/css
    -->
<!--
Java
th:object="${form_validation_key}"  ==> model.addAttributes("key")
th:method="post" ==> java backent gidecek
th:action="@{/form}" ==> @GetMapping("/form")
th:text="#{register_id}" ==> message.properties
th:field="*{registerId}"
th:if="${#fields.hasErrors('registerNameAndSurname')}"  ==> eğer bindingResult bir hata varsa
-->
<form th:object="${form_validation_key}" th:method="post"  th:action="@{/form}">
    <div class="container">
        <div class="row">
            <div th:text="#{register_id}" class="col-md-2 mt-3 mb-3"></div>
            <div class="col-md-10">
                <input type="text" th:field="*{registerId}" class="form-control"   disabled="disabled" />
            </div>

            <!--name and surname-->
            <div th:text="#{register_name}"  class="col-md-2 mt-3 "></div>
            <div class="col-md-10">
                <input type="text" th:field="*{registerNameAndSurname}" class="form-control" />
                <div  class="text-danger"  th:if="${#fields.hasErrors('registerNameAndSurname')}" th:errors ="*{registerNameAndSurname}" />
            </div>


            <!--password-->
            <div th:text="#{register_password}"  class="col-md-2"></div>
            <div class="col-md-10">
                <input type="text" th:field="*{registerPassword}" class="form-control mt-3 "  />
                <div  class="text-danger"  th:if="${#fields.hasErrors('registerPassword')}" th:errors ="*{registerPassword}" />
            </div>


            <!--email-->
            <div th:text="#{register_email}"  class="col-md-2"></div>
            <div class="col-md-10">
                <input type="text" th:field="*{registerEmail}" class="form-control mt-3 "  />
                <div  class="text-danger"   th:if="${#fields.hasErrors('registerEmail')}" th:errors ="*{registerEmail}" />
            </div>

            <!--age-->
            <div th:text="#{register_age}"  class="col-md-2 mt-3 "></div>
            <div class="col-md-10">
                <input type="text" th:field="*{registerAge}" class="form-control mt-3 " />
                <div  class="text-danger"  th:if="${#fields.hasErrors('registerAge')}" th:errors ="*{registerAge}" />
            </div>


            <!--date-->
            <div th:text="#{register_date}"  class="col-md-2 mt-3 "></div>
            <div class="col-md-10">
                <input class="form-control text-primary"  type="text" th:field="*{creationDate}" name="creationDate"  id="creationDate" />
            </div>

            <div class="col-md-2"></div>
            <div class="col-md-10">
                <button th:text="#{register_reset}" type="reset" class="btn btn-danger btn-sm"></button>
                <button th:text="#{register_submit}" type="submit" class="btn btn-primary btn-sm"></button>
            </div>
        </div>
    </div>
</form>


<!-- ends codes -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>